/* 360 pixels - Mobile */
body {
    background-color: var(--branco);

    background-image: url('../imgs/forma_1.svg');
    background-position: top left;

    font-family: var(--poppins);
}

main {
    width: 100%;
}

.caixaIntroducao {
    margin: 5rem auto 2rem;
    width: 60vw;
}

.main__titulo1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: var(--azul);
}

.fichaPet {
    display: flex;
    justify-content: space-between;
    margin: 0 0 1rem;
    padding: 1.5rem;
}

.fichaPet__div {
    text-align: start;
    margin: 0 0 1rem;
}

.nomePet {
    color: var(--azul);
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;

    margin: 0 0 0.5rem
}

.infoPet {
    color: var(--cinza);
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;

    margin: 0 0 2rem;
}

.localPet {
    color: var(--cinza);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;

    margin: 0 0 0.5rem;
}

.contatoResponsavel {
    display: flex;
    text-decoration: none;

    transition: 250ms;
}

.contatoResponsavel:hover {
    transform: scale(1.2);
}

.contatoResponsavel:active {
    transform: scale(0.9);
}

.contatoResponsavel__texto {
    color: var(--cinza);
    font-weight: 400;
    font-size: 10px;
    line-height: 16px;

    margin: 0 0 0 0.5rem;
}

@media screen and (min-width: 768px) {

    body {
        background-image: url('../imgs/forma_1_maior.svg');
    }

    .caixaIntroducao {
        margin: 11.75rem auto 2rem;
    }

    .main__titulo1 {
        font-weight: 400;
        font-size: 18px;
        line-height: 20px;
    }

    .catalogoPets {
        width: 100%;
        padding: 0 2rem;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .fichaPet {
        background-color: var(--cinza-claro-fundo);
        width: 45vw;
        padding: 1.5rem 1rem;
    }
}

@media screen and (min-width: 1280px) {
    .caixaIntroducao {
        margin: 6rem auto 2.5rem;
    }

    .catalogoPets {
        width: 85vw;
        padding: 0;
        margin: 0 auto;

        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .fichaPet {
        background-color: var(--cinza-claro-fundo);
        width: 30%;
        padding: 1.5rem;
    }
}