/* 360 pixels - Mobile */
body {
    background-color: var(--branco);

    background-image: url('../imgs/patas.svg'), url('../imgs/forma_1.svg'), url('../imgs/forma_2_reversa.svg');
    background-position: top right, top left, bottom 15vh left;

    font-family: var(--poppins);
}

main {
    width: 90vw;

    color: var(--azul);
}

.main__tituloCadastro {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    margin: 0 0 1.5rem;
}

.main__tituloLogin {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;

    margin: 1.25rem 0 2.75rem;
}

.form__label {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: var(--cinza);

    margin: 0 0 0.25rem;

    display: block;
}

.form__input {
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    text-align: center;

    background-color: var(--cinza-claro-fundo);
    box-shadow: 0 0.2rem 0.2rem rgba(0,0,0,0.15);
    border-width: 0;
    border-radius: 6px;

    width: 100%;
    padding: 0.5rem 0;
    margin: 0 0 1.5rem;
}

.link__senhaEsquecida {
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;
    text-decoration: underline;
    
    color: var(--coral);

    margin: -1rem 0 1.5rem;
    display: block;
}

@media screen and (min-width: 768px) {
    body {
        background-image: url('../imgs/patas_maior.svg'), url('../imgs/forma_1_maior.svg'), url('../imgs/forma_2_maior.svg');
        background-position: top right, top left, center right;
    }

    main {
        width: 75vw;
    }

    .main__tituloCadastro {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
    
        margin: 0 0 2.5rem;
    }

    .main__tituloLogin {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
    
        margin: 0 0 2.5rem;
    }

    .form__label {
        font-weight: 400;
        font-size: 18px;
        line-height: 24px;
    
        margin: 0 0 0.5rem;
    }

    .form__input {
        font-weight: 400;
        font-size: 14px;
        line-height: 16px;

        width: 45vw;
    }

    .form__input:last-child {
        margin: 0 0 2.5rem;
    }

    .main__botao {
        width: 20vw;
    }
}

@media screen and (min-width: 1280px) {
    main {
        width: 40vw;
    }

    .main__tituloCadastro {

        margin: 2.5rem 0 3em;
    }

    .main__tituloLogin {
    
        margin: 2.5rem 0 2.5rem;
    }

    .form__label {
        font-weight: 600;
        font-size: 18px;
        line-height: 24px;
    
        margin: 0 0 0.5rem;
    }

    .form__input {
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;

        width: 40vw;
    }

    .form__input:last-child {
        margin: 0 0 2.5rem;
    }

    .main__botao {
        width: 15vw;
    }
}