/* 360 pixels - Mobile */
body {
    background-color: var(--branco);

    background-image: url('../imgs/forma_1.svg');
    background-position: top left;

    font-family: var(--poppins);
}

main {
    max-width: 88vw;
}

.caixaIntroducao {
    margin: 6.25rem auto 1.5rem;
    width: 63vw;
}

.main__titulo1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: var(--azul);
}

form {
    background-color: var(--cinza-claro-fundo);
    width: 90vw;
    padding: 2rem 1rem;
    margin: 0 0 1rem;
}

.form__label {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: start;

    color: var(--azul);

    margin: 0 0 0.5rem;

    display: block;
}

.form__input {
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    background-color: var(--branco);
    box-shadow: 0 0.2rem 0.2rem rgba(0,0,0,0.15);
    border-width: 0;
    border-radius: 8px;

    width: calc(100% - 2rem);
    padding: 0.75rem 1rem;
    margin: 0 0 1rem;

    display: block;
}

.form__textarea {
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    background-color: var(--branco);
    box-shadow: 0 0.2rem 0.2rem rgba(0,0,0,0.15);
    border-width: 0;
    border-radius: 8px;

    min-width: calc(100% - 2rem);
    max-width: calc(100% - 2rem);
    min-height: 10rem;
    padding: 0.75rem 1rem;
    margin: 0 0 2rem;
}

@media screen and (min-width: 768px) {
    body {
        background-image: url('../imgs/forma_1_maior.svg'), url('../imgs/forma_2_maior.svg');
        background-position: top left, center right;
    }

    .caixaIntroducao {
        margin: 11.75rem auto 2.5rem;
    }

    .main__titulo1 {
        font-weight: 400;
        font-size: 18px;
        line-height: 26px;
    }

    form {
        width: 70vw;
        margin: 0 0 2rem;
    }

    .main__botao {
        width: 20vw;
    }
}

@media screen and (min-width: 1280px) {
    .caixaIntroducao {
        margin: 6rem auto 2.5rem;
        width: 33vw;
    }

    form {
        width: 40vw;
    }

    .main__botao {
        width: 15vw;
    }
}