/* 360 pixels - Mobile */
body {
    background-color: var(--branco);

    background-image: url('../imgs/forma_1.svg');
    background-position: top left;

    font-family: var(--poppins);
}

main {
    max-width: 88vw;
}

.caixaIntroducao {
    margin: 6.25rem auto 1.5rem;
    width: 70vw;
}

.main__titulo1 {
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;

    color: var(--azul);
}

form {
    background-color: var(--cinza-claro-fundo);
    padding: 2rem 1rem;
    margin: 0 0 1rem;
}

.form__titulo2 {
    font-weight: 600;
    font-size: 21px;
    line-height: 24px;

    color: var(--cinza);

    margin: 0 0 1rem;
}

.form__titulo3 {
    font-weight: 400;
    font-size: 12px;
    line-height: 24px;

    color: var(--coral);
}

.fotoPerfil {
    width: 5rem;
    height: 5rem;
}

.form__label {
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    text-align: start;

    color: var(--azul);

    margin: 0 0 0.5rem;

    display: block;
}

.form__input {
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    background-color: var(--branco);
    box-shadow: 0 0.2rem 0.2rem rgba(0,0,0,0.15);
    border-width: 0;
    border-radius: 8px;

    width: calc(100% - 2rem);
    padding: 0.75rem 1rem;
    margin: 0 0 1rem;

    display: block;
}

.form__textarea {
    font-family: var(--poppins);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    background-color: var(--branco);
    box-shadow: 0 0.2rem 0.2rem rgba(0,0,0,0.15);
    border-width: 0;
    border-radius: 8px;

    min-width: calc(100% - 2rem);
    min-height: 10rem;
    padding: 0.75rem 1rem;
    margin: 0 0 2rem;
}